<div class="card p-3 m-3">
    <% if Student.where(email: current_user.email).any? %>
      <%= form_with(model: presentation_score, class: "form-group") do |form| %>
        <%= form.label :grade, "Provide Grade for Presentation:", class: "font-weight-bold" %><br>
        <%= form.text_field :grade, class: "form-control" %> <br>

        <%= form.label :comment, "Add Comment", class: "font-weight-bold" %><br>
        <%= form.text_area :comment, style: "width: 400px; height: 200px;", class: "form-control" %>  <br><br>

        <%= form.label :q1, "The presentation was well organized, well prepared and easy to follow", class: "font-weight-bold" %><br>
        <%= form.radio_button :q1, 1 %> Strongly Disagree
        <%= form.radio_button :q1, 2 %> Disagree
        <%= form.radio_button :q1, 3 %> Neutral
        <%= form.radio_button :q1, 4 %> Agree
        <%= form.radio_button :q1, 5 %> Strongly Agree

        <br>
        <br>

        <%= form.label :q2, "The teammates always worked from others\' ideas. It was evident that all of the group members contributed equally to the presentation", class: "font-weight-bold" %><br>
        <%= form.radio_button :q2, 1 %> Strongly Disagree
        <%= form.radio_button :q2, 2 %> Disagree
        <%= form.radio_button :q2, 3 %> Neutral
        <%= form.radio_button :q2, 4 %> Agree
        <%= form.radio_button :q2, 5 %> Strongly Agree
        <br> <br>
        <%= form.label :q3, "Presenters were all very confident in delivery and they did an excellent job of engaging the class", class: "font-weight-bold" %><br>
        <%= form.radio_button :q3, 1 %> Strongly Disagree
        <%= form.radio_button :q3, 2 %> Disagree
        <%= form.radio_button :q3, 3 %> Neutral
        <%= form.radio_button :q3, 4 %> Agree
        <%= form.radio_button :q3, 5 %> Strongly Agree
        <br> <br>
        <%= form.label :q4, "Presentation had an exceptional amount of valuable material and was extremely beneficial to the class", class: "font-weight-bold" %><br>
        <%= form.radio_button :q4, 1 %> Strongly Disagree
        <%= form.radio_button :q4, 2 %> Disagree
        <%= form.radio_button :q4, 3 %> Neutral
        <%= form.radio_button :q4, 4 %> Agree
        <%= form.radio_button :q4, 5 %> Strongly Agree
        <br> <br>

        <%= form.label "presentation_id"  %>
        <% if @presenation_id.nil? %>
          <%= form.select "presentation_id", options_from_collection_for_select(Presentation.all, :id, :name) %>
        <% else %>
          Presentation Id: <%= @presentation_id %>
          <%= form.select "presentation_id", options_from_collection_for_select(Presentation.all, :id, :name) %>
        <% end %>

        <% if presentation_score.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(presentation_score.errors.count, "error") %> prohibited this presentation score from being saved:</h2>

            <ul>
              <% presentation_score.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div>
          <%= form.submit %>
        </div>
      <% end %>
    <% else %>
      <h1>Warning: The instructor must add you to the course to be able to be able to view your presentation scores and to leave reviews.</h1>
    <% end %>
</div>
