<p style="color: green"><%= notice %></p>

<%= render @presentation %>

<div>
  <%= link_to "Edit this presentation", edit_presentation_path(@presentation) %> |
  <%= link_to "Back to presentations", presentations_path %>

  <%= button_to "Delete this presentation", @presentation, { method: :delete, class: 'btn btn-danger'} %>
</div>
